In [1]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Admin\Desktop\JN\spam_assassin.csv")
df.head(3)
df.columns

Index(['text', 'target'], dtype='object')

In [2]:
df.describe()

            target
count  5796.000000
mean      0.327122
std       0.469203
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000